<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ad-Analysis</title>
    <style>
        .container {
            width: 100vh;
            height: 100vh;
            display: flex;
            flex-flow: column wrap;
        }

        .ad_type {
            max-width: 25%;
            min-width: 200px;
            aspect-ratio: 1;
            background-color: red;
            display: flex;
            justify-content: center; /* Align horizontal */
            align-items: center; /* Align vertical */
        }
    </style>
</head>
<body>
<div class="container">
    {{#each ad_types as | ad_type |}}
    <div class="ad_type" onclick="onSelect({{id}})">
        {{name}}
    </div>
    {{/each}}
</div>

</body>
<script>
    async function onSelect(id) {
        await fetch(`http://localhost:8080/ads/${id}`, {method: "POST"})
    }
</script>
</html>